// Set the global compass vars.
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;
$legacy-support-for-mozilla: false;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
$font: 'Montserrat', sans-serif;
$regular: 400;
$medium: 500;

@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
$font2: 'Crimson Text', serif;

$white: #FFFFFF;
$black: #111111;

@import "FirstKnight.1";
html[lang="ar"] {
    // direction: rtl;
    body {
        text-align: right;
    }
    * {
        letter-spacing: 0 !important;
    }
    // .mr-auto {
    //     margin-right: 0 !important;
    //     margin-left: auto;
    // }
}
.btn {
    &.btn-black {
        position: relative;
        padding: 20px 60px;
        color: $white;
        font-size: 12px;
        font-weight: $medium;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 1px solid $black;
        @include border-radius(0);
        background-color: $black;
        &:before {
            content: '';
            position: absolute;
            border: white solid 2px;
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
            opacity: 0;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: opacity;
            transition-property: opacity;
        }
        &:hover, &.active, &:focus {
            // background-color: $white;
            // color: $black;
            &:before {
                opacity: 1;
            }
        }
    }
    &.loading {
        background: {
            image: url(./assets/images/icons/loading.gif);
            position: right 20px center;
            repeat: no-repeat;
        }
    }
}
form {
    label {
        font-size: 14px;
        font-weight: $medium;
        margin: 0;
        text-transform: uppercase;
    }
}
input.form-control {
    border: 0;
    border-bottom: 1px solid $black;
    border-radius: 0;
    padding: 4px 0;
    height: auto;
    box-shadow: none;
    &:focus {
        border-color: $black;
        box-shadow: none;
    }
    // &:invalid {
    //     border-color: $red;
    // }
}
.form-group+.form-group {margin: 25px 0 0;}

.message {
    margin: 10px 0 0;
    font-size: 14px;
    color: $green;
    &.error {color: $red;}
    &.success {color: $green;}
}

body {
    font-family: $font;
    letter-spacing: 0.14em;
}
.icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    background: {
        size: contain;
        position: center;
        repeat: no-repeat;
    }
    &.search {
        background-image: url(./assets/images/icons/search.png);
    }
    &.user {
        background-image: url(./assets/images/icons/user.png);
    }
    &.cart {
        background-image: url(./assets/images/icons/cart.png);
    }
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    .logo {
        padding: 15px 40px;
        margin-right: 15px;
        @media (max-width: 767px) {
            padding: 10px 20px;
        }
        @media (max-width: 580px) {
            padding: 10px;
            img {width: 80px;}
        }
    }
    .menu-btn {
        cursor: pointer;
        div {
            margin-right: 20px;
            span {
                width: 25px;
                height: 2px;
                background-color: $black;
                display: block;
                margin: 5px 0;
            }
        }
        label {
            cursor: pointer;
            font-size: .75rem;
            font-weight: $medium;
            margin: 0;
            text-transform: uppercase;
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
    .menu {
        display: flex;
        padding: 2em 4em 2em 1.3em;
        margin: 0;
        list-style: none;
        background-color: $black;
        li {
            cursor: pointer;
            font-size: .75rem;
            color: $white;
            margin: 0 15px;
            text-transform: uppercase;
            a {
                display: block;
                padding: 15px;
                color: $white;
                text-decoration: none;
            }
            .icon {
                margin-right: 15px;
            }
        }
        @media (max-width: 1200px) {
            padding: 2em 1em;
        }
        @media (max-width: 992px) {
            li {
                .icon {
                    margin: 0;
                    & + span{display: none;}
                }
            }
        }
        @media (max-width: 580px) {
            padding: 1em 0.5em;
            margin-top: 10px;
            li {
                margin: 0 8px;
                a {padding: 5px;}
            }
        }
    }
}

.fixed-pop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba($black, 0.8);
    display: none;
    overflow: auto;
    .pop-container {
        @include transition(0.2s);
    }
    .close-pop {
        cursor: pointer;
        width: 45px;
        height: 45px;
        display: block;
        @include border-radius(50%);
        background: {
            color: #ffffff;
            image: url(./assets/images/icons/close.png);
            position: center;
            repeat: no-repeat;
        }
        &.black {
            background: {
                color: #000000;
                image: url(./assets/images/icons/close-w.png);
            }
        }
    }
}
.login-pop {
    &.open {
        .login-container {
            transform: translateY(0);
        }
    }
    .login-container {
        background-color: $white;
        padding: 50px 15px 70px;
        transform: translateY(-100%);
    }
    .btn {
        min-width: 220px;
        max-width: 100%;
    }
    .user-login-form {
        margin-top: 60px;
        > div:first-child {
            @media(min-width: 768px) {
                border-right: 1px solid #efefef;
            }
        }
        h4 {
            font-size: 30px;
            margin: 0 0 40px;
            font-weight: $medium;
            text-transform: uppercase;
        }
        // p {
        //     font-family: $font2;
        //     font-size: 20px;
        //     margin: 0 0 30px;
        //     letter-spacing: 0;
        // }
        .login-form {
            a {
                text-transform: uppercase;
                font-size: 12px;
                color: $black;
                text-decoration: none;
                border-bottom: 1px solid $black;
                &:hover {
                    border-bottom: 0;
                }
            }
        }
    }
}
.cart-pop {
    &.open {
        .cart-container {
            transform: translateX(0);
        }
    }
    .cart-container {
        background-color: $white;
        padding: 50px 15px;
        transform: translateX(100%);
        margin-left: auto;
        width: 400px;
        height: 100vh;
        @media (min-width: 992px) {
            width: 33%;
        }
    }
}
.search-pop {
    &.open {
        .search-container {
            transform: translateY(0);
        }
    }
    .search-container {
        background-color: $white;
        padding: 50px 15px;
        transform: translateY(-100%);
        .search-form {
            padding: 12vh 0;
            input {
                color: #000000;
                font-size: 70px;
                border: none;
                outline: none;
                text-transform: uppercase;
                text-align: center;
                width: 100%;
                font-weight: 700;
                letter-spacing: 0.5vw;
                @media (min-width: 1200px) {
                    font-size: 4.5vw;
                }
                @media (max-width: 767px) {
                    font-size: 35px;
                }
                &::placeholder {color: #e7e7e7; opacity: 1;}
                &:-ms-input-placeholder {color: #e7e7e7;}
                &::-ms-input-placeholder {color: #e7e7e7;}
            }
        }
    }
}
.menu-pop {
    &.open {
        .menu-container {
            transform: translateX(0);
        }
    }
    .menu-container {
        background-color: $black;
        padding: 45px 50px;
        width: 400px;
        height: 100vh;
        max-width: 100%;
        overflow: auto;
        transform: translateX(-100%);
        @media (min-width: 992px) {
            width: 33%;
        }
        ul {list-style: none;}
        > ul {
            padding: 0;
            margin: 40px 0;
            >li {
                >&+li {
                    margin-top: 10px;
                }
                >a {
                    position: relative;
                    font-size: 22px;
                    display: block;
                    padding: 12px 0;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: $medium;
                    text-decoration: none;
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0px;
                        height: 1px;
                        background-color: $white;
                        @include transition(0.2s);
                    }
                    &:hover:after, &.active {
                        width: 40px;
                    }
                }
                &.dropdown {
                    > a {
                        padding-right: 30px;
                        &:before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            width: 30px;
                            height: 30px;
                            background: url(./assets/images/icons/arrow-bottom.png) no-repeat center;
                        }
                    }
                    &.open {
                        a {
                            &:before {background: url(./assets/images/icons/arrow-top.png) no-repeat center;}
                            &:after {width: 40px;}
                        }
                    }
                }
            }
            ul {
                padding: 10px 0;
                margin: 0;
                display: none;
                li {
                    margin-top: 5px;
                    a {
                        display: block;
                        padding: 5px 0;
                        font-size: 18px;
                        color: #8d8d8d;
                        font-family: $font2;
                        &:hover, &.active {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
.main-content {
    min-height: 100vh;
}
.home-main {
    .main-headline {
        font-size: 100px;
        line-height: 1.1;
        font-weight: bold;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 5vw;
        margin:0;
        text-transform: uppercase;
        @media (min-width: 1200px) {
            font-size: 6.5vw;
        }
        @media (min-width: 768px) {
            position: absolute;
            z-index: 1;
        }
        @media (max-width: 768px) {
            font-size: 9vw;
            padding-top: 80px;
            padding-bottom: 20px;
        }
        span {
            display: block;
            white-space: nowrap;
        }
    }
    .img-container {
        height: 100vh;
        background: {
            image: url(./assets/images/demo-1.jpg);
            repeat: no-repeat;
            size: cover;
            position: center;
        }
    }
    .go-down {
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: 20px;
        height: 30px;
        background: {
            image: url(./assets/images/icons/arrow-down.png);
            position: center;
            repeat: no-repeat;
        }
        @media(max-width: 768px) {
            bottom: 0;
            top: -60px;
            z-index: 1;
        }
    }
}
section {
    letter-spacing: 0.2em;
    .section-title {
        font-size: 50px;
        margin: 0;
        padding: 35px 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        @media (min-width: 1200px) {
            font-size: 3.4vw;
        }
        @media (max-width: 767px) {
            font-size: 30px;
            padding: 25px 0;
        }
    }
    &.home-section {
        padding: 70px 0;
        @media (max-width: 767px) {
            padding: 40px 0;
        }
    }
    &.services {
        a {
            text-decoration: none;
        }
        .img-container {
            // max-height: calc(100vh - 130px);
            // overflow: hidden;
            img {
                width: 100%;
            }
        }
        h4 {
            font-size: 24px;
            padding: 30px 20px;
            margin: 0;
            color: $black;
            text-transform: uppercase;
            font-weight: $medium;
            @media (max-width: 767px) {
                font-size: 20px;
                padding: 15px 10px;
                letter-spacing: 1px;
            }
        }
    }
    &.furniture {
        background-color: #f5f5f5;
        .furniture-item {
            h3 {
                font-size: 24px;
                text-transform: uppercase;
                margin: 0;
                padding: 30px;
                @media (max-width: 575px) {
                    padding: 30px 10px 10px;
                }
            }
            a.more {
                padding: 10px 0;
                font-size: 12px;
                color: $black;
                font-weight: $medium;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                &:after {
                    content: "";
                    width: 42px;
                    height: 2px;
                    margin-left: 13px;
                    display: inline-block;
                    vertical-align: middle;
                    background-color: $black;
                    
                    position: relative;
                    left: 0;
                    bottom: 0;
                    @include transition(0.2s);
                }
                &:hover {
                    &:after {
                        left: -50%;
                        margin: 0;
                        bottom: -15px;
                    }
                }
            }
        }
    }
    
    &.bio-section {
        h2 {
            margin: 0 0 35px;
            font-size: 50px;
            font-weight: bold;
            text-transform: uppercase;
            @media (max-width: 767px) {
                font-size: 30px;
            }
        }
        p {
            font-family: $font2;
            font-size: 20px;
            margin-bottom: 30px;
            letter-spacing: 0;
        }
        .images-container {
            padding-bottom: 8%;
            .img-container {
                padding-left: 20%;
                &.over {
                    position: absolute;
                    bottom: 0;
                    padding-left: 0;
                    padding-right: 52%;
                }
                img {
                    max-width: 100%;
                }
            }
        }
    }
    
}

footer {
    padding: 30px 0;
    color: $white;
    font-size: 14px;
    background-color: $black;
    text-transform: uppercase;
    .footer-top {
        padding: 130px 0;
        h6 {
            font-size: 14px;
            margin: 0 0 20px;
        }
        .form {
            position: relative;
            display: inline-block;
            max-width: 100%;
            .form-control {
                border: 1px solid $white;
                @include box-shadow(none);
                @include border-radius(0);
                background: $white;
                width: 400px;
                max-width: 100%;
                height: 50px;
                font-family: $font2;
                font-size: 18px;
                padding: 10px 15px;
                padding-right: 150px;
            }
            .btn {
                position: absolute;
                top: 2px;
                right: 2px;
                padding: 12px 30px;
                height: calc(100% - 4px);
            }
        }
        .follow {
            padding: 0;
            margin: 0 0 5px;
            list-style: none;
            display: flex;
            li {margin-left: 15px;}
            a {
                display: block;
                width: 40px;
                height: 40px;
                position: relative;
                @include border-radius(50%);
                background: {
                    color: $white;
                    repeat: no-repeat;
                    position: center;
                }
                &:before {
                    content: '';
                    position: absolute;
                    border: $white solid 2px;
                    top: -4px;
                    left: -4px;
                    right: -4px;
                    bottom: -4px;
                    opacity: 0;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-property: opacity;
                    transition-property: opacity;
                    @include border-radius(50%);
                }
                &:hover:before {opacity: 1;}
                &.facebook {background-image: url(./assets/images/icons/facebook.png);}
                &.twitter {background-image: url(./assets/images/icons/twitter.png);}
                &.instagram {background-image: url(./assets/images/icons/instagram.png);}
            }
        }
    }
    .footer-bottom {
        color: #999999;
        font-size: 11px;
        a {color: #999999;}
        .power-logo {
            img {width: 40px;}
        }
    }
}